<div class="container kinds_enterprise">
    <div class="row">
        <div class="col-lg-6 kinds_enterprise_left_blocks kinds_enterprise_top_blocks">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_app_platform.png">

            <p class="second_text">
                一体化应用平台
            </p>

            <hr>

            <p class="third_text">
                Last.Backend 为容器提供了一整套基础设施服务，包括存储服务，网络，服务器管理，负载平衡等。
            </p>
        </div>

        <div class="col-lg-6 kinds_enterprise_top_blocks">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_automation.png">

            <p class="second_text">
                全自动化
            </p>

            <hr>

            <p class="third_text">
                从GitHub，Bitbucket 或 Docker Hub部署<br> 内置可持续集成和交付，使您不再为一半的基础设施问题而费心。
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 kinds_enterprise_left_blocks">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_container_orchestration.png">

            <p class="second_text">
                容器编排
            </p>

            <hr>

            <p class="third_text">
                使用我们的平台将所有的git代码库转换为容器。 每次代码提后自动构建容器。
            </p>
        </div>

        <div class="col-lg-6">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_e_collaboration.png">

            <p class="second_text">
                合作
            </p>

            <hr>

            <p class="third_text">
                在共享应用程序堆栈中工作，并一起构建更好的应用程序。 在不同开发阶段的应用程序中管理团队成员和协作者。
            </p>
        </div>
    </div>
</div>