<div class="container-fluid preview preview_enterprise">
    <div class="row">
        <div class="col-md-12 offset-md-0 col-lg-6 offset-lg-3">
            <p class="source">
                Last.Backend 企业服务
            </p>

            <p class="second_text">
                在这里能找到企业的所需
            </p>

            <a href="#feedback">
                <button class="btn btn-secondary button_yellow">
                    <span>马上联系</span>
                </button>
            </a>
        </div>
    </div>
</div>