<div class="container-fluid why">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2 col-lg-6 offset-lg-0">

                <p class="source">
                    为什么是Last.Backend？
                </p>

                <p class="third_text">
                    Last.Backend 商业解决方案提供开箱即用的PaaS服务，为IT团队提供对其环境的安全和控制，同时使开发人员能够以自助服务方式构建应用程序。
                </p>

                <p class="third_text">
                    通过清晰分离关注点和可靠的工具，组织能够更快地进行创新，降低成本并确保安全性。
                </p>

                <p>
                    <a href="{{ " ../documents/datasheet_enterprise.pdf " | absURL }}">
                        <button class="btn btn-secondary blue_back_white_text_button">下载数据表</button>
                    </a>
                </p>
            </div>

            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">

                <img data-lazy-src="{{ .Params.image }}" src="../img/l_d_pdf.png">

            </div>
        </div>
    </div>
</div>