<div class="container-fluid auto">
    <div class="row">
        <div class="col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
            <p class="source_pro">
                使您的开发全自动化
            </p>
        </div>
    </div>

    <div class="row">
        <p class="third_text">
            基于Docker容器和Kubernetes，Last.Backend增加了以开发人员为中心的工具，以实现快速应用程序开发，轻松部署和扩展，以及为小型和大型团队和应用程序提供长期的生命周期维护。
        </p>
    </div>

    <div class="row">
        <div class="col-xl-12 auto_img">
            <img data-lazy-src="{{ .Params.image }}" src="../img/l_ui_1.png">
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4 github-link">

            <p class="blue_text">
                LAST.BACKEND PaaS<br>
                <span class="third_text">开源 Kubernetes-native 平台</span>
            </p>

            <hr>

            <a target="_blank" href="https://github.com/lastbackend/lastbackend">
                <div class="view-github">
                    <p>
                        GITHUB上查阅
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </p>
                </div>

            </a>
        </div>
    </div>
</div>