<div class="container-fluid bottom_preview">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <p class="source">
                云主机<br> 专为开发者设计
            </p>

            <p class="second_text">
                按使用量付费
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-lg-8 offset-lg-2">

            <div class="text_after_success_email_send tases2">
                <p>
                    谢谢！ 当您的帐户可以使用时，我们会通知您。
                </p>
            </div>

            <div class="form-inline okay okay2">
                <div class="form-group">
                    <div class="input-group">

                        <input type="text" class="form-control email-form-in-preview email-form-2" placeholder="输入您的E-mail">

                    </div>
                </div>

                <button type="submit" onclick="sendEmail()" class="btn btn-secondary button_yellow">
                    <span>获取访问</span>
                </button>

            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4 github-link">

            <p class="blue_text">
                LAST.BACKEND PaaS<br>
                <span class="third_text">开源Kubernetes-native平台</span>
            </p>

            <hr>

            <a target="_blank" href="https://github.com/lastbackend/lastbackend">
                <div class="view-github">
                    <p>
                        GITHUB上查阅
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </p>
                </div>

            </a>
        </div>
    </div>
</div>