<div class="container-fluid kinds">
    <div class="row">
        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="img/l_im_cloud_hosting.png">

            <p class="blue_text">
                云主机
            </p>

            <p class="third_text">
              Last.Backend是基于容器系统管理的云平台，具有强大的生态系统，专门用于应用部署。
            </p>

            <a href="cloud">
            <button class="btn btn-secondary blue_background">现在就尝试</button>
            </a>

        </div>

        <div class="col-xs-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="img/l_im_dedicated.png">

            <p class="orange_text">
               专用云
            </p>

            <p class="third_text">
             使用Last.Backend专用云，您可以使用Last.Backend平台的全部专用服务器，包括按小时计费和快速配置！
            </p>

            <a href="dedicated">
                <button class="btn btn-secondary orange_background">了解更多</button>
            </a>

        </div>

        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="img/l_im_enterprise.png">

            <p class="black_text">
               企业
            </p>

            <p class="third_text">
             Last.Backend 使我们能够在一天内无缝地、可靠地多次部署。 可在以前的基础设施中进行操作、维护。
            </p>

            <a href="enterprise">
                <button class="btn btn-secondary black_background">了解更多</button>
            </a>

        </div>
    </div>
</div>