<div class="container-fluid map">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <p class="second_text">
               全球部署Web应用只需一个简单的指令，仅此而已
            </p>

            <img data-lazy-src="{{ .Params.image }}" src="../img/l_im_map.png">

            <p class="second_text map_lower_text">
                部署到任意自定义域名上
            </p>
        </div>

        <img data-lazy-src="{{ .Params.image }}" src="../img/l_h_domain_1.png" class="terminal">
    </div>
</div>