<div class="container-fluid kinds dedicated_kinds">
    <div class="row">
        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="../img/im_l_speed_up_development.png">

            <p class="blue_text">
                高效主机
            </p>

            <p class="third_text">
                超快的CPU，企业级SSD存储，世界领先水平的机房和网络。
            </p>
        </div>

        <div class="col-xs-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="../img/im_l_deploy_in_seconds.png">

            <p class="orange_text">
                几秒即可部署
            </p>

            <p class="third_text">
                通过一行指令部署应用 "$ git push" 或从git仓库自动部署。
            </p>
        </div>

        <div class="col-md-12 col-lg-4">

            <img data-lazy-src="{{ .Params.image }}" src="../img/im_l_run_any_apps.png">

            <p class="black_text">
                Docker 集成
            </p>

            <p class="third_text">
                利用我们的平台把所有git仓库转化成容器。每次提交将自动构建容器。
            </p>
        </div>
    </div>
</div>