<div class="container-fluid team">
    <div class="row team_text">
        <p class="source_pro">
   我们不仅仅是一家公司
        </p>

        <p class="minion">
     我们是一个大家庭
        </p>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/alexandr.png" class="rounded-circle">

            <p>
                Alex<br>
                <span>全球CEO</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/julia.png" class="rounded-circle">

            <p>
                Iuliia<br>
                <span>全球COO</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/konstantin.png" class="rounded-circle">

            <p>
                Konstantin<br>
                <span>高级软件工程师</span>
            </p>

        </div>

        <div class="col-lg-3">
            <img data-lazy-src="{{ .Params.image }}" src="../img/nick.png" class="rounded-circle">

            <p>
                Nick<br>
                <span>UX和产品设计师</span>
            </p>

        </div>
    </div>
</div>