<div class="container-fluid products_kinds">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-1 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_menu_cloud.png">
                </p>

                <div class="media-body">
                    <h2 class="media-heading blue_text">LAST.BACKEND 云</h2>
                </div>
            </div>

            <p class="third_text">
                Last.Backend是一个基于容器管理系统的云平台，具有强大的生态系统，用于部署应用。 Last.Backend 云遍布全球9个地区，横跨北美和西欧。
            </p>

            <a href="{{ " cloud " | absURL }}">
                <button class="btn btn-secondary blue_background">现在就试试！</button>
            </a>

        </div>

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_menu_dedicated.png">
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">LAST.BACKEND 专用云</h2>
                </div>
            </div>

            <p class="third_text">
                使用Last.Backend专用云，您可以使用Last.Backend平台的全部专用服务器，包括按小时计费和快速配置！
            </p>

            <a href="{{ " dedicated " | absURL }}">
                <button class="btn btn-secondary orange_background">阅读更多</button>
            </a>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-1 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_os.png">
                </p>

                <div class="media-body">
                    <h2 class="media-heading green_text">LB PAAS & 命令行工具</h2>
                </div>
            </div>

            <p class="third_text">
                Last.Backend命令行工具为开发人员提供了可部署和运行应用程序的Last.Backend云只需几个命令。
            </p>

            <a href="https://github.com/lastbackend/lastbackend">
                <button class="btn btn-secondary green_background">下载 CLI 在</button>
            </a>

            <span>GITHUB上查看 <i class="fa fa-github" aria-hidden="true"></i> </span>

        </div>

        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 pr_kind">

            <div class="media">
                <p class="media-left">
                    <img data-lazy-src="{{ .Params.image }}" src="../img/l_menu_enterprise.png">
                </p>

                <div class="media-body black_text">
                    <h2 class="media-heading">LAST.BACKEND 企业级</h2>
                </div>
            </div>

            <p class="third_text">
                Last.Backend 使我们能够在一天内无缝地、可靠地多次部署。 可在以前的基础设施中进行操作、维护。
            </p>

            <a href="{{ " enterprise " | absURL }}">
                <button class="btn btn-secondary black_background">阅读更多</button>
            </a>

        </div>

    </div>
</div>

<!--TODO выровнять кнопки-->
<!--TODO цвет в зеленом блоке у гитхаба-->