<div class="container-fluid use-cases">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <p class="use-case_main_text source">
                应用案例
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 offset-lg-2">
            <div class="media">
                <p class="media-left source">
                    #01
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">开发 / 测试</h2>
                    <p class="third_text">
                        Last.Backend使您专注于代码编写。 使用我们的Docker本地工作流程，无需VM管理器或前期规划来执行，在Last.Backend上的开发和您在自己电脑上开发是完全一样的。 知道Docker，就知道Last.Backend。
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-0">
            <div class="media">
                <p class="media-left source">
                    #02
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">基础设施优化</h2>
                    <p class="third_text">
                        Last.Backend是基于容器管理系统的云平台。 容器只包含构建和运行应用程序所需的内容。 使企业减少存储量并降低组织中的管理成本。
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-4 offset-lg-2">
            <div class="media">
                <p class="media-left source">
                    #03
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">Cl / CD</h2>
                    <p class="third_text">
                        Last.Backend是创建您的Cl / CD 管道的最佳云托管服务。 无需长时间运行昂贵的VM、等待构建工作。有了Last.Backend，你只需要对使用的云资源支付即可。
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-0">
            <div class="media">
                <p class="media-left source">
                    #04
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">支持多语言</h2>
                    <p class="third_text">
                        开发人员有选择，并能够在同一平台上运行多种语言和数据库。 更容易利用容器生态系统的优势。
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-4 offset-lg-2">
            <div class="media">
                <p class="media-left source">
                    #05
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">演示 / 展示</h2>
                    <p class="third_text">
                        需要展示您的新项目或应用程序？ 部署到Last.Backend是令人难以置信的快和便捷，只需几个命令，您的应用程序就将启动和运行。
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-0">
            <div class="media">
                <p class="media-left source">
                    #06
                </p>

                <div class="media-body orange_text">
                    <h2 class="media-heading">应用管理t</h2>
                    <p class="third_text">
                        开发人员可以使用丰富的命令行工具（一个强大的Web界面）来创建和管理应用程序。
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>